@font-face {
  font-family: "Allura";
  src: url(../../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../../fonts/Roboto-VariableFont_wdth\,wght.ttf);
}
li {
  list-style: none;
}

input {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Roboto";
  background: rgb(43, 41, 41);
  outline: none;
}

header {
  height: 100vh;
  background: url(../../../img/bg-slider-06.jpg) center/cover;
  color: rgb(243, 243, 243);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 1000px) {
  header nav {
    width: 100%;
  }
}
header nav h1 {
  width: 10%;
  font-family: "Allura";
  font-size: 2.8rem;
  margin: 0 10px 0 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header nav .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 300;
  margin-right: 10px;
}
@media screen and (max-width: 800px) {
  header nav .navbar {
    display: none;
  }
}
header nav .navbar li {
  cursor: pointer;
  transition: 0.4s;
  padding: 8px 0;
  position: relative;
}
header nav .navbar li:hover {
  color: rgba(238, 158, 89, 0.801);
}
header nav .navbar li:hover::before {
  content: "";
  position: absolute;
  border: 1px solid rgb(128, 0, 0);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: scaleborder 0.5s forwards;
}
@keyframes scaleborder {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
header nav .navbar li:hover::after {
  content: "";
  position: absolute;
  border: 1px solid rgb(128, 0, 0);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: scaleborder2 0.5s forwards;
}
@keyframes scaleborder2 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
header nav .resaux {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
  font-size: 0.8rem;
  margin-right: 10px;
}
@media screen and (max-width: 800px) {
  header nav .resaux {
    font-size: 1rem;
    min-width: 100px;
    width: 25%;
    max-width: 300px;
  }
}
header nav .resaux i {
  cursor: pointer;
  transition: 0.3s;
}
header nav .resaux i:hover {
  color: rgba(238, 158, 89, 0.801);
}
header .header-container {
  width: 60%;
  margin-bottom: 110px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  animation: headanim 3s forwards;
}
@keyframes headanim {
  from {
    opacity: 0;
    scale: 1.4;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 590px) {
  header .header-container {
    width: 90%;
  }
}
header .header-container h2 {
  text-align: center;
  font-family: "Allura";
  color: rgba(238, 158, 89, 0.801);
  font-weight: 300;
  text-transform: capitalize;
  font-size: 4.5rem;
  line-height: 70px;
}
header .header-container h2 div {
  font-family: "Poppins";
  color: rgb(243, 243, 243);
  text-transform: uppercase;
  font-weight: 800;
}
@media screen and (max-width: 813px) {
  header .header-container h2 {
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 397px) {
  header .header-container h2 {
    font-size: 2.2rem;
  }
}
header .header-container h2 div {
  font-size: 4.6rem;
}
@media screen and (max-width: 813px) {
  header .header-container h2 div {
    font-size: 2rem;
  }
}
header .header-container span img {
  margin: 40px 0;
  height: 30px;
}
@media screen and (max-width: 440px) {
  header .header-container span img {
    margin: 20px 0;
  }
}
header .header-container p {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 200;
}
@media screen and (max-width: 730px) {
  header .header-container p {
    font-size: 0.9rem;
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 440px) {
  header .header-container p {
    font-size: 0.7rem;
  }
}

.section1 {
  background: rgb(243, 243, 243);
  display: grid;
  grid-template-columns: 55% 45%;
  height: 60vh;
}
@media screen and (max-width: 626px) {
  .section1 {
    display: flex;
    height: 70vh;
  }
}
.section1 .discover-store {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: 1px dashed rgba(238, 158, 89, 0.801);
  margin: 20px;
}
.section1 .discover-store h3 {
  text-align: center;
  font-family: "Allura";
  color: rgba(238, 158, 89, 0.801);
  font-weight: 300;
  text-transform: capitalize;
  font-size: 2.8rem;
  line-height: 30px;
  margin-top: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section1 .discover-store h3 div {
  font-family: "Poppins";
  color: rgb(243, 243, 243);
  text-transform: uppercase;
  font-weight: 800;
}
.section1 .discover-store h3 div {
  color: rgb(43, 41, 41);
  font-size: 1.5rem;
}
.section1 .discover-store span img {
  height: 35px;
  filter: brightness(0.7);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section1 .discover-store p {
  margin: 15px;
  font-family: "Roboto";
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 25px;
}
.section1 .discover-store p::-moz-selection {
  background: rgba(238, 158, 89, 0.801);
  color: rgb(243, 243, 243);
}
.section1 .discover-store p::selection {
  background: rgba(238, 158, 89, 0.801);
  color: rgb(243, 243, 243);
}
@media screen and (max-width: 806px) {
  .section1 .discover-store p {
    font-size: 0.8rem;
  }
}
.section1 .discover-store .avatar img {
  height: 100px;
  border-radius: 150px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section1 .discover-store .avatar h4 {
  margin-top: 10px;
  font-family: "Poppins";
  font-size: 1.1rem;
  font-weight: 500;
}
.section1 .discover-store .avatar h4::-moz-selection {
  background: rgba(238, 158, 89, 0.801);
  color: rgb(243, 243, 243);
}
.section1 .discover-store .avatar h4::selection {
  background: rgba(238, 158, 89, 0.801);
  color: rgb(243, 243, 243);
}
.section1 .discover-store .avatar h5 {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: "Roboto";
  color: rgb(206, 206, 206);
  font-size: 0.9rem;
  font-weight: 400;
}
.section1 .discover-store .avatar h5::-moz-selection {
  background: rgba(238, 158, 89, 0.801);
  color: rgb(243, 243, 243);
}
.section1 .discover-store .avatar h5::selection {
  background: rgba(238, 158, 89, 0.801);
  color: rgb(243, 243, 243);
}
.section1 .img {
  background: url(../../../img/store-01.jpg) center/cover;
}
@media screen and (max-width: 626px) {
  .section1 .img {
    display: none;
  }
}

.section2 .top-part {
  max-height: 450px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section2 .top-part h5 {
  text-align: center;
  font-family: "Allura";
  color: rgba(238, 158, 89, 0.801);
  font-weight: 300;
  text-transform: capitalize;
  font-size: 2.5rem;
  padding-top: 60px;
}
.section2 .top-part h5 div {
  font-family: "Poppins";
  color: rgb(243, 243, 243);
  text-transform: uppercase;
  font-weight: 800;
}
.section2 .top-part span img {
  margin: 40px 0 0;
}
.section2 .top-part nav ul {
  display: flex;
  justify-content: space-around;
  min-width: 300px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  color: rgb(243, 243, 243);
  font-weight: 200;
  text-transform: capitalize;
}
.section2 .top-part nav ul li {
  margin: 30px 0;
  padding: 10px 0;
  box-shadow: 0 1px 0 0 rgb(206, 206, 206);
  cursor: pointer;
  transition: 0.2s;
}
.section2 .top-part nav ul li:hover {
  color: rgba(238, 158, 89, 0.801);
  box-shadow: 0 1px 0 0 rgb(128, 0, 0);
}
.section2 .bottom-part {
  background: url(../../../img/bg-menu-01.jpg) center/cover no-repeat;
  position: relative;
  min-height: 750px;
  margin-top: 120px;
}
.section2 .bottom-part .card {
  min-width: 600px;
  width: 100%;
  max-width: 900px;
  padding: 20px 0;
  background: rgb(243, 243, 243);
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  margin: 0 auto;
  transform: translateY(-100px);
}
@media screen and (max-width: 980px) {
  .section2 .bottom-part .card {
    width: 90%;
  }
}
@media screen and (max-width: 630px) {
  .section2 .bottom-part .card {
    min-width: 300px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.section2 .bottom-part .card .left-part,
.section2 .bottom-part .card .right-part {
  width: 85%;
}
.section2 .bottom-part .card .left-part li,
.section2 .bottom-part .card .right-part li {
  padding: 40px 20px 40px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed rgb(43, 41, 41);
}
.section2 .bottom-part .card .left-part li img,
.section2 .bottom-part .card .right-part li img {
  border-radius: 150px;
}
.section2 .bottom-part .card .left-part li .li-container,
.section2 .bottom-part .card .right-part li .li-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 10px 0 10px;
  font-family: "Roboto";
}
.section2 .bottom-part .card .left-part li .li-container h5,
.section2 .bottom-part .card .right-part li .li-container h5 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
}
@media screen and (max-width: 914px) {
  .section2 .bottom-part .card .left-part li .li-container h5,
  .section2 .bottom-part .card .right-part li .li-container h5 {
    font-size: 0.7rem;
  }
}
.section2 .bottom-part .card .left-part li .li-container p,
.section2 .bottom-part .card .right-part li .li-container p {
  width: 92%;
  padding-top: 5px;
  font-weight: 300;
  line-height: 20px;
}
@media screen and (max-width: 914px) {
  .section2 .bottom-part .card .left-part li .li-container p,
  .section2 .bottom-part .card .right-part li .li-container p {
    font-size: 0.8rem;
  }
}
.section2 .bottom-part .card .left-part li span,
.section2 .bottom-part .card .right-part li span {
  color: rgba(238, 158, 89, 0.801);
}

.online-book {
  min-height: 800px;
  padding: 0 10px;
}
.online-book .online-book-container {
  width: 100%;
  max-width: 80vw;
  margin: 60px auto;
  display: grid;
  grid-template-columns: 25% 75%;
}
@media screen and (max-width: 900px) {
  .online-book .online-book-container {
    display: flex;
    flex-direction: column;
  }
}
.online-book .online-book-container .opening-time {
  background: black;
  color: rgb(243, 243, 243);
}
.online-book .online-book-container .opening-time .opening-time-container {
  height: 500px;
  margin: 15px;
  border: 1px dashed rgb(206, 206, 206);
  text-align: center;
}
.online-book .online-book-container .opening-time .opening-time-container h3 {
  text-align: center;
  font-family: "Allura";
  color: rgba(238, 158, 89, 0.801);
  font-weight: 300;
  text-transform: capitalize;
  font-size: 2.5rem;
  line-height: 25px;
  padding: 45px 0 35px;
}
.online-book .online-book-container .opening-time .opening-time-container h3 div {
  font-family: "Poppins";
  color: rgb(243, 243, 243);
  text-transform: uppercase;
  font-weight: 800;
}
@media screen and (max-width: 900px) {
  .online-book .online-book-container .opening-time .opening-time-container h3 {
    font-size: 3rem;
  }
}
.online-book .online-book-container .opening-time .opening-time-container h3 div {
  font-size: 1.4rem;
}
@media screen and (max-width: 900px) {
  .online-book .online-book-container .opening-time .opening-time-container h3 div {
    font-size: 1.6rem;
  }
}
.online-book .online-book-container .opening-time .opening-time-container h5 {
  text-transform: uppercase;
  color: rgba(238, 158, 89, 0.801);
  font-size: 1.1rem;
  font-weight: 400;
  margin: 45px 5px 15px;
}
@media screen and (max-width: 1310px) {
  .online-book .online-book-container .opening-time .opening-time-container h5 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 900px) {
  .online-book .online-book-container .opening-time .opening-time-container h5 {
    font-size: 1.1rem;
  }
}
.online-book .online-book-container .opening-time .opening-time-container p {
  font-size: 0.9rem;
  font-weight: 200;
  margin: 0 5px;
}
@media screen and (max-width: 1310px) {
  .online-book .online-book-container .opening-time .opening-time-container p {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 900px) {
  .online-book .online-book-container .opening-time .opening-time-container p {
    font-size: 0.9rem;
  }
}
.online-book .online-book-container .opening-time .opening-time-container h4 {
  margin: 50px 0 30px;
  color: rgba(238, 158, 89, 0.801);
}
@media screen and (max-width: 1310px) {
  .online-book .online-book-container .opening-time .opening-time-container h4 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 900px) {
  .online-book .online-book-container .opening-time .opening-time-container h4 {
    font-size: 1rem;
  }
}
.online-book .online-book-container .reservation {
  background: rgb(243, 243, 243);
  color: rgb(43, 41, 41);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .online-book .online-book-container .reservation {
    min-height: 500px;
  }
}
@media screen and (max-width: 550px) {
  .online-book .online-book-container .reservation {
    height: 70vh;
  }
}
.online-book .online-book-container .reservation h3 {
  text-align: center;
  font-family: "Allura";
  color: rgba(238, 158, 89, 0.801);
  font-weight: 300;
  text-transform: capitalize;
  font-size: 3rem;
  line-height: 35px;
  margin-top: 40px;
}
.online-book .online-book-container .reservation h3 div {
  font-family: "Poppins";
  color: rgb(243, 243, 243);
  text-transform: uppercase;
  font-weight: 800;
}
.online-book .online-book-container .reservation h3 div {
  color: rgb(43, 41, 41);
  font-size: 2rem;
}
.online-book .online-book-container .reservation span {
  transform: translateY(-30px);
}
@media screen and (max-width: 550px) {
  .online-book .online-book-container .reservation span {
    transform: translateY(-20px);
  }
}
.online-book .online-book-container .reservation form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding-left: 10px;
  display: grid;
  grid-template-columns: 28% 28% 28%;
  justify-content: center;
  gap: 15px;
  row-gap: 35px;
  transform: translateY(-40px);
}
@media screen and (max-width: 550px) {
  .online-book .online-book-container .reservation form {
    display: block;
    width: 60%;
    text-align: center;
  }
}
.online-book .online-book-container .reservation form select {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding-bottom: 10px;
  font-family: "Roboto";
  font-weight: 300;
  color: rgb(43, 41, 41);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background: url(../../../img/Down-chevron.png) right/10px no-repeat;
}
@media screen and (max-width: 550px) {
  .online-book .online-book-container .reservation form select {
    width: 80%;
  }
}
.online-book .online-book-container .reservation form #date, .online-book .online-book-container .reservation form #time, .online-book .online-book-container .reservation form #people {
  cursor: pointer;
}
.online-book .online-book-container .reservation form input:not([type=submit]) {
  width: 80%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding-bottom: 10px;
  font-family: "Roboto";
  font-weight: 300;
  color: rgb(43, 41, 41);
}
@media screen and (max-width: 550px) {
  .online-book .online-book-container .reservation form input:not([type=submit]) {
    margin: 10px 0;
  }
}
.online-book .online-book-container .reservation form input:not([type=submit])::-moz-placeholder {
  font-family: "Roboto";
  font-size: 0.9rem;
  font-weight: 300;
  color: rgb(43, 41, 41);
}
.online-book .online-book-container .reservation form input:not([type=submit])::placeholder {
  font-family: "Roboto";
  font-size: 0.9rem;
  font-weight: 300;
  color: rgb(43, 41, 41);
}
.online-book .online-book-container .reservation button {
  border: none;
  background: rgb(20, 20, 20);
  padding: 15px 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-40px);
}
.online-book .online-book-container .reservation button input {
  background: transparent;
  border: none;
  text-transform: uppercase;
  color: rgb(243, 243, 243);
  font-family: "Poppins";
  font-weight: 300;
  letter-spacing: 5px;
}/*# sourceMappingURL=style.css.map */