.online-book {
    min-height: 500px;
    padding: 0 10px;

    .online-book-container {
        width: 100%;
        max-width: 80vw;
        margin: 60px auto;
        display: grid;
        grid-template-columns: 25% 75%;

        @media screen and (max-width: 900px) {
            display: flex;
            flex-direction: column;                        
        }
        
        .opening-time {
            background: black;
            color: $white1;
            
            .opening-time-container {
                height: 500px;
                margin: 15px;           
                border: 1px dashed $grey1;
                text-align: center;
                
                h3 {
                    @include tittle;
                    font-size: 2.5rem;
                    line-height: 25px;
                    padding: 45px 0 35px;
                    
                    @media screen and (max-width: 900px) {
                        font-size: 3rem;                        
                    }
                    div {
                        font-size: 1.4rem;

                        @media screen and (max-width: 900px) {
                            font-size: 1.6rem;                        
                        }
                    }
                }
                
                h5 {
                    text-transform: uppercase;
                    color: $gold1;
                    font-size: 1.1rem;
                    font-weight: 400;
                    margin: 45px 5px 15px;
                    
                    @media screen and (max-width: 1310px) {
                        font-size: 0.9rem;                        
                    }

                    @media screen and (max-width: 900px) {
                        font-size: 1.1rem;                        
                    }
                }
                
                p {
                    font-size: 0.9rem;
                    font-weight: 200;
                    margin: 0 5px;
                    
                    @media screen and (max-width: 1310px) {
                        font-size: 0.7rem;                        
                    }

                    @media screen and (max-width: 900px) {
                        font-size: 0.9rem;                        
                    }
                }
                
                h4 {
                    margin: 50px 0 30px;
                    color: $gold1;

                    @media screen and (max-width: 1310px) {
                        font-size: 0.9rem;                        
                    }

                    @media screen and (max-width: 900px) {
                        font-size: 1rem;                        
                    }
                }
            }
            
            
        }
        
        .reservation {
            background: $white1;
            color: $black1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            @media screen and (max-width: 900px) {
                min-height: 500px;                      
            }

            @media screen and (max-width: 550px) {
                height: 70vh;                       
            }
            
            h3 {
                @include tittle;
                font-size: 3rem;
                line-height: 35px;
                margin-top: 40px;
                color: $gold2;
                
                div {
                    color: $black1;
                    font-size: 2rem;
                }
            }
            
            span {
                transform: translateY(-30px);

                @media screen and (max-width: 550px) {
                    transform: translateY(-20px);                    
                }
            }
            
            form {
                width: 100%;
                max-width: 700px;
                margin: 0 auto;
                padding-left: 10px;
                display: grid;
                grid-template-columns: 28% 28% 28%;
                justify-content: center;
                gap: 15px;
                row-gap: 35px;
                transform: translateY(-40px);

                @media screen and (max-width: 550px) {
                    display: block;  
                    width: 60%;          
                    text-align: center;   
                }
                
                select {
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid $grey1;
                    padding-bottom: 10px;
                    font-family: $font3;
                    font-weight: 300;
                    color: $black1;
                    appearance: none;
                    outline: none;
                    // **********DOWN CHEVRON**************
                    background: url(../../../img/Down-chevron.png) right/10px no-repeat;

                    @media screen and (max-width: 550px) {
                        width: 80%;                        
                    }
                    
                }
                
                #date, #time, #people {
                    cursor: pointer;
                }
                
                input:not([type="submit"]) {
                    width: 80%;
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid $grey1;
                    padding-bottom: 10px;
                    font-family: $font3;
                    font-weight: 300;
                    color: $black1;

                    @media screen and (max-width: 550px) {
                        margin: 10px 0;                        
                    }
                    
                    &::placeholder {
                        font-family: $font3;
                        font-size: 0.9rem;
                        font-weight: 300;
                        color: $black1;
                    }                   
                }
            }
                
                
                button {    
                 border: none;
                 background: rgb(20, 20, 20);
                 padding: 15px 30px;
                 border-radius: 50px;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 transform: translateY(-40px);

                 input {
                    background: transparent;
                    border: none;
                    text-transform: uppercase;
                    color: $white1;
                    font-family: $font2;
                    font-weight: 300;
                    letter-spacing: 5px;

                 }
             
                } 
        }
        
    }
}